html,body {
	font-family: 'Open Sans', sans-serif;
	font-size:100%;
	background: #f44336; /* Old browsers */
	background: -moz-linear-gradient(top,  #f44336 0%,#8f0222 50%,#7b0009 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f44336), color-stop(50%,#8f0222), color-stop(100%,#7b0009)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f44336 0%,#8f0222 50%,#7b0009 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f44336 0%,#8f0222 50%,#7b0009 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f44336 0%,#8f0222 50%,#7b0009 100%); /* IE10+ */
	background: linear-gradient(to top,  #f44336 0%,#8f0222 50%,#7b0009 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b0171f', endColorstr='#126072',GradientType=0 ); /* IE6-9 */
  background-repeat: no-repeat;
  height: auto;
}
body a {
  transition: 0.5s all;
  -webkit-transition: 0.5s all;/*#7B0009*/
  -o-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
}
.container {
    width: 90%;
}

.top-title{
  margin-top: 4%;
}

.ancho{
  width: 80%;
  background-color: #f44336;
}

.btn:visited, .btn-large:visited {
    background-color: #f44336;
}

.btn:hover, .btn-large:hover {
    background-color: #7b0009;
}

.slider .indicators .indicator-item.active {
    background-color: #f44336;
}

.page-footer h5 {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
}

.page-footer ul li a {
    color: #ecf0f1;
    font-size: 14px;
    text-decoration: none;
    font-weight: 300;
}

.page-footer ul li {
    color: #ecf0f1;
    font-size: 14px;
    text-decoration: none;
    font-weight: 300;
}

.page-footer ul li a:hover {
    color: #f44336;
}

.card .card-content .card-title {
  word-wrap: break-word;
}

nav ul a:hover {
    background-color: #000;
}

.dropdown-content li>a, .dropdown-content li>span {
    font-size: 16px;
    color: #fff;
    display: block;
    line-height: 22px;
    padding: 14px 16px;
}
.dropdown-content {
  transition: height 0.5 ease;
}
.dropdown-content li {
    clear: both;
    color: rgba(0,0,0,0.87);
    cursor: pointer;
    min-height: 50px;
    line-height: 1.5rem;
    width: 100%;
    text-align: left;
    text-transform: none;
    background-color: #212121;
}

.dropdown2-style{
  width: 100%;
  position: relative;
  top: 0px;
  left: 0px;
  opacity: 1;
  display: block;
}

.disable{
  color: rgba(0,0,0,0.26);
  border-bottom: 1px dotted rgba(0,0,0,0.26);
}


